
  
.logos{
    display: block;
    margin-top: 270px;
    padding-left: 170px;
}
  
.face1 {
    
    font-size: 60px;
    line-height: 16px;;
    float: left;
    padding: 5px;
    color: #dd0031;
}
.face2 {

    font-size: 60px;
    line-height: 16px;;
    float: left;
    padding: 5px;
    color: #f06529;
}
.face3 {

    font-size: 60px;
    line-height: 16px;;
    float: left;
    padding: 5px;
    color: #28a4d9;
    }
.face4 {

    font-size: 60px;
    line-height: 16px;;
    float: left;
    padding: 5px;
    color: #5ed4f4;
}
.face5 {

    font-size: 60px;
    line-height: 16px;;
    float: left;
    padding: 5px;
    color: #efd81d;
}
.face6 {

    font-size: 60px;
    line-height: 16px;;
    float: left;
    padding: 5px;
    color: #ec4d28;
}
  
.baby-pic{
    margin-right: 500px;
    float: right;
    width: 500px;
    height: auto;

}
  
 