.logo-container {
    z-index: 0;
    width: 700px;
    height: 700px;
    opacity: 0;
    position: absolute;
    top: 27%;
    right: 10%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;
    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      -webkit-transform: rotate(15deg) scale(1.4);
      transform: rotate(15deg) scale(1.4);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    figure:hover img {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
    }
  

  
    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
      opacity: 0;
      z-index: 1;
    }
  }
  
